<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"3." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"3." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="65" src="images/chapter_top.png">
  </div>
  <div class="chapter_description_right">
    Let's intall Perl on Linux/UNIX.
  </div>
</div>

<h2>Installation of Perl on Linux/Unix</h2>

Perl is already installed in <a href="https://en.linux.perlzemi.com/">Linux</a>/<a href="https://en.wikipedia.org/wiki/Unix">UNIX</a> in many cases.

Check if Perl is installed on Linux/UNIX by the following command.

<pre>
perl -v
</pre>

If you see the version of Perl, Perl is already installed.

<pre>
This is perl 5, version 32, subversion 1 (v5.32.1) built for x86_64-linux
(with 1 registered patch, see perl -V for more detail)
</pre>

<h3>Installation of System Perl</h3>

If the system doesn't have Perl , you can install the Perl using package managers such as <a href="https://en.ubuntu.perlzemi.com/blog/20200530085516.html">apt</a> or yum.

<h4>Ubuntu</h4>

How to <a href="https://en.ubuntu.perlzemi.com/blog/20200616085351.html">install Perl on Ubuntu</a>.

<pre>
# Installation of Perl on Ubuntu
sudo apt install perl
</pre>

<h4>Debian</h4>

How to install Perl on Debian.

<pre>
# Installation of Perl on Debian
apt-get install perl
</pre>

<h4>CentOS/Redhat</h4>

How to install Perl on <a href="https://en.centos.perlzemi.com/">CentOS</a>/Redhat.

<pre>
# Installation of Perl on Cent OS
yum install perl
</pre>

<h4>FreeBSD</h4>

How to install Perl on FreeBSD.

<pre>
# Installation of Perl on FreeBSD
pkg_add -r perl
</pre>

<h3>Installation of Perl on your home directory</h3>

If you want to install the specific version of Perl on your home directory, you can use <b>perlbrew</b> or <b>plenv</b> according to your taste.

<ul>
  <li>
    <a href="/blog/20110220130464.html">perlbrew - Install Perl on your home directory</a>
  </li>
  <li>
    <a href="/blog/20180816153437.html">plenv - Install Perl on your home directory</a>
  </li>
</ul>
