<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"1." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"1." counter(count1) "." counter(count2) " ";
  }

</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="65" src="images/kaeru_w_01.png">
  </div>
  <div class="chapter_description_right">
    Let's install Perl on Windows. 
  </div>
</div>

<h2>Installing Strawberry Perl on Windows</h2>

<b>Strawberry Perl</b> is one of the Windows Perl distributions. Strawberry Perl is easy to install and has the C language compiler <a href="https://en.wikipedia.org/wiki/MinGW">MinGW</a>, a CPAN module installer <a href="/blog/20101027127859.html">cpanm</a> and often used C libraries.

<a href="http://strawberryperl.com"><img style = "border: 1px solid # ddd; max-width: 450px;" src="/images/strawberry_perl/strawberry_perl_logo.png"></a>

<a href="http://strawberryperl.com">Strawberry Perl for Windows</a>

<h3>What is Strawbery Perl?</h3>

Strawbery Perl can be downloaded without registration. Older versions of Perl are available.

<a href="https://ja.wikipedia.org/wiki/MinGW">MinGW</a> is a <a href="https://en.c.perlzemi.com/">C</a>/<a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a> compiler that can be used on Windows. MinGW is compatible with <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> of <a href="https://en.linux.perlzemi.com/">Linux</a>/<a href="https://en.wikipedia.org/wiki/Unix">UNIX</a>.

<b>gmake</b> is also available. gmake is a port of GNU make to Windows.

For the reason that Strawbery Perl has gcc and gmake, many <a href="/blog/20101008127859.html">CPAN</a> modules written in C/C++ can be installed on Windows.

The <a href="/blog/20101027127859.html">cpanm</a> command allows you to install CPAN modules quickly and easily. If you create a <b>cpanfile</b> required modules are defined , you can install all modules you need at once.

<h3>Downloading Strawberry Perl</h3>

Assuming Windows 10, I explain how to download and install Strawberry Perl. The way to download and install is almost the same for older versions of Windows(Windows 8, Windows 7).

Let's download and install Strawberry Perl. The latest version of Perl 2022 is Perl 5.32.

Click <b> Strawberry Perl 5.32 64bit MSI installer </b> of the following link to download Strawberry Perl.

<ul>
  <li>
    <a href="http://strawberryperl.com/releases.html">Strawberry Perl Releases</a>
  </li>
</ul>

<a href="http://strawberryperl.com/releases.html"><img style = "border: 1px solid ddd" src="/images/strawberry_perl/strawberry_perl_msi.png"></a>

MSI installer is the default installer for Windows.

The version number at the end(5.32.x.y) may be a little different, but don't worry.

In most cases, the 64-bit version of Windows will work, but if you need the 32-bit version, download the 32-bit version of Strawberry Perl.

<h3>Installing Strawberry Perl</h3>

Double-click the downloaded installer file of Strawberry Perl.

The installer will start. It may take some time to calculate the free space. Please wait.

Press "Next" to proceed.

A check box that hears "I accept the terms in the License Agreement" will appear. Check it and press "Next".

Press "Next" to proceed, and finally click "Install" to start Strawberry Perl.

You'll see a dialog here, "Do you want to allow apps from this unknown publisher to make changes to your device?". Click "Yes".

It will take about 5 minutes. Please wait.

When the progress bar is full, the Strawberry Perl installation is complete.

Press "Finish" to close the dialog. A Readme will be displayed. Close it.

<h3>Check the Installing Strawberry Perl</h3>

Let's check if Strawberry Perl is installed.

<h4>Command Prompt</h4>

At first, you execute <a href="/blog/20080603121251.html">Command Prompt</a>. Command Prompt is a Windows CLI tool.

The command prompt can be executed from:

"Start Menu" | "List of Apps" | "Windows System Tools" | "Command Prompt".

A black screen will appear. This is Command Prompt.

<img src="/images/commandprompt/commandprompt.png">

Input the following command to display the version of Perl.

<pre>
perl -v
</pre>

And press "Enter".

The version information of Perl is displayed.

<pre>
This is perl 5, version 32, subversion 0 (v5.32.1) built for MSWin32-x64-multi-thread
</pre>

If you can see this, the installation of Strawberry Perl is succeed.

<h3>Trouble Shooting</h3>

If Strawberry Perl doesn't work, see the following trouble shooting.

<h4>The Priority of PATH Environment Variable</h4>

If another Perl such as ActivePerl or Strawberry Perl 32bit is already installed, the Strawberry Perl installed in this article may not work due to the priority problem of the PATH environment variable.

Move the path of Perl you want to use to the front of other Perls.

<h3>The other ways to Install Strawberry Perl</h3>

The ways to install Strawberry Perl other than MSI.

<h4>ZIP Version of Strawberry Perl</h4>

ZIP Version of Strawberry Perl is also prepared.

<h4>Portable Version of Strawberry Perl</h4>

Portable Version of Strawberry Perl is also prepared.

<h3>Other Ways to Install Perl on Windows</h3>

See the following links to known other ways to install Perl on Windows.

<h4>Installing Strawberry Perl using Chocolatey</h4>

Chocolatey is a CLI tool to manage applications on Windows.

<ul>
  <li>
    <a href="/blog/20220426170406.html">Installing Strawberry Perl using Chocolatey</a>
  </li>
</ul>

<h4>ActivePerl</h4>

ActivePerl is another Windows Perl distribution.

<ul>
  <li>
    <a href="/blog/20080602121231.html">Installing Active Perl on Windows</a>
  </li>
</ul>

<h4>msys2</h4>

If you want a Linux pseudo environment on Windows, you can use msys2.

<ul>
   <li>
     <a href="/blog/20180806153350.html">Installing msys2 on Windows to use Perl</a>
   </li>
</ul>

<h3>Other CLI Tools</h3>

Other CLI Tools to run Perl.

<ul>
  <li>
    <a href="/blog/20220420170117.html">PowerShell(pwsh) Tutorail for Perl</a>
  </li>
</ul>

<h2>Installing msys2 and Perl on Windows</h2>

Explains how to install <a href="https://www.msys2.org">msys2</a> and Perl on Windows. The msys2 is a software to build a Linux-like environment on Windows. Perl can be installed on msys2.

<img src="/images/msys2.png">

On msys2, you can use <a href="https://en.linux.perlzemi.com/blog/20200211081227.html">Linux commands</a> such as <a href="https://en.linux.perlzemi.com/blog/20191126082723.html">ls</a>, <a href="https://en.linux.perlzemi.com/blog/20200113083613.html">cat</a>, <a href="https://en.linux.perlzemi.com/blog/20190129171737.html">tar</a>, and <a href="https://en.git.perlzemi.com/">git</a>. The terminal charset is UTF-8.

The msys2 is compatible with POSIX. The Perl web framework such as <a href="https://en.mojolicious.perlzemi.com/">Mojolicious</a> can work correctly.

<h3>Download of msys2</h3>

Let's download msys2 from the following page.

<ul>
  <li>
    <a href="https://www.msys2.org/">msys2.org</a>
  </li>
</ul>

Click "the installer: msys2-x86_64-20220319.exe" and donwload msys2 to your desktop.

<h3>Installing msys2</h3>

Double-click the msys2 icon on your desktop.

Press Next.

Press Finish. The msys2 will start.

<h3>Execution of msys2</h3>

You close msys2. Next time, you find the msys2 program.

"Windows Start Menu" | "List of Apps" | "MSYS2 64bit".

You will see three msys2 program.

<ul>
  <li>
    MSYS2 MinGW 64bit
  </li>
  <li>
    MSYS2 MINGW 32bit
  </li>
  <li>
    <b>MSYS2 MSYS</b>
  </li>
</ul>

Click <b>MSYS2 MSYS</b>. This is needed to run Perl.

"MSYS2 MinGW 64bit" and "MSYS2 MINGW 32bit" are used to create Windows native apps.

<h3>Instalation of Perl on msys2</h3>

Let's install Perl. <b>pacman</b> is the package manager of msys2.

<pre>
pacman -S perl perl-CPAN msys2-devel make libcrypt-devel
</pre>

Copy the above command and paste it on msys2 by clicking the right mouse button.

You will be asked if you want to install them. Press "Enter".

The following softwares will be installed for Perl.

<ul>
  <li>
    perl (perl)
  </li>
  <li>
    cpan (perl-CPAN)
  </li>
  <li>
    gcc (msys2-devel)
  </li>
  <li>
    make (make)
  </li>
  <li>
    crypt.h (libcrypt-devel)
  </li>
</ul>

Some Perl modules are written by C/C++ language. To compile these modules, <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> and make are required.

<h3>Check of Perl Installation</h3>

Checks of Perl installation.

<pre>
perl -v
</pre>

If you see the version of Perl, the Perl installation is succeed.

<pre>
This is perl 5, version 24, subversion 4 (v5.24.4) built for x86_64-msys-thread-multi
</pre>

<h3>Installing CPAN Modules</h3>

To make sure your Perl environment is built correctly, install some Perl modules.

Some CPAN modules expect Unix/Linux environments. Make sure the symlink works properly on msys2 with the following command.

<pre>
export MSYS = winsymlinks
</pre>

At the first time to use cpan, you will be asked if you want to set cpan automatically. Press "Enter".

<pre>
cpan Mojolicious
cpan JSON::XS
</pre>

If the installation of these modules are finished, your Perl environment on msys2 is built correctly.

<h2>Installing Perl on WSL 2</h2>

<a href="https://docs.microsoft.com/en-us/windows/wsl/install">WSL 2</a> is Windows Subsystem for Linux. You can install Linux on Windows using WSL 2. And you can use Perl.

<img style = "border: 1px solid # ddd; max-width: 600px;" src = "/images/installation/wsl2.png">

<h3>Installing WSL 2</h3>

Let's intall WSL 2. Run the following command on <a href="/blog/20080603121251.html">Windows Command Prompt</a>.

<pre>
# Install WSL 2
wsl --install
</pre>

<a href="https://en.ubuntu.perlzemi.com/">Ubuntu</a> is installed by default.

Reboot Windows to enable WSL2.

Take a few minutes.

You see the following messages.

<h4>User Name</h4>

<pre>
Installing, this may take a few minutes...

Please create a default UNIX user account. The username does not need to match your Windows username.
For more information visit: https://aka.ms/wslusers
Enter new UNIX username:
</pre>

I enter the following user name as an example.

<pre>
kimoto_ubuntu
</pre>

By right-clicking on Ubuntu terminal, you can paste the user name.

<h4>Password</h4>

Next, set password.

The setup of Ubuntu is completed.

<h3>Boot Ubuntu</h3>

Let's boot Ubuntu.

"Start Menu" | "Ubuntu"

<h3>Checking the installation of Perl</h3>

Perl is installed by default on Ubuntu. Let's check the installation of Perl.

<pre>
perl -v
</pre>

The version of Perl is displayed.

<pre>
This is perl 5, version 30, subversion 0 (v5.30.0) built for x86_64-linux-gnu-thread-multi
</pre>

<h3>Show files using Explore</h3>

You can see files on Ubuntu by the following path. <b>\\wsl$</b> is root directory of WSL 2.

<pre>
\\wsl$\Ubuntu\home\kimoto_ubuntu
</pre>
