<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"4." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"4." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="65" src="images/chapter_top.png">
  </div>
  <div class="chapter_description_right">
    Let's run Perl using Windows Command Prompt.
  </div>
</div>

<h2>Windows Command Prompt Tutorial</h2>

Explains how to use Windows Command Prompt to run Perl. Command Prompt is a <a href="https://en.wikipedia.org/wiki/Command-line_interface">CLI</a> tool to run programs on Windows.

<h3>Execution of Command Prompt</h3>

Let's execute Command Prompt.

"Start Menu" | "Apps" | "Windows System Tools" | "Command Prompt"

<img src="images/commandprompt/commandprompt.png">

Your home directory is shown on Command Prompt.

<pre>
C:\Users\kimot
</pre>

<h3>Showing File Extensions</h3>

The extension of Perl program is "<b>.pl</b>". It is useful if extensions of files are displayed.

The way to show file extensions is described in the following page.

<a href="https://www.howtogeek.com/205086/beginner-how-to-make-windows-show-file-extensions/">How to Make Windows Show File Extensions</a>

<h3>Execution of Notepad</h3>

Perl programs are text files. You can create your Perl programs using Notepad.

The way to use Notepad is described in the following page.

<a href="https://www.digitalcitizen.life/start-notepad-windows/">11 ways to start Notepad in Windows</a>

<h3>Creating Perl Programs</h3>

Let's create a Perl program.

Create a file named "start.pl" at your home directory.

<pre>
C:\Users\kimot\start.pl
</pre>

And write the following text.

<pre>
print "Hello World";
</pre>

And save it.

<h3>Runing Perl Programs</h3>

You can run your Perl program using <b>perl</b> command.

<pre>
perl start.pl
</pre>

The output is:

<pre>
Hello World
</pre>

<h3>Commands of Command Prompt</h3>

Intorduce offten used commands of Command Prompt.

<h4>dir</h4>

The "dir" command displays the list of files.

<pre>
dir
</pre>

<h4>cd</h4>

The "cd" command changes the working directory.

<pre>
cd DirectoryName
</pre>

".." is the file name that means the folder one level higher.

<pre>
cd ..
</pre>

<h4>Changing Drives</h4>

You can change drives using "c:" or "d:".

<pre>
c:
d:
</pre>

<h4>Seeing Command Histories</h4>

You can see command histories using "↑" and "↓" keys.

<pre>
↑
↓
</pre>

<h4>Getting Environment Variables</h4>

You can get and show a environment variable as the following.

<pre>
echo %PATH%
</pre>

<h4>Setting Environment Variable</h4>

You can set a environment variable as the following.

<pre>
SET DATE=20080604
</pre>
