<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"2." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"2." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="65" src="images/chapter_top.png">
  </div>
  <div class="chapter_description_right">
    Let's install Perl on Mac.
  </div>
</div>

<h2>Installation of Perl on Mac</h2>

Perl is already installed on Mac. 

Execute the "Terminal" application and input the following command to check the version of Perl.

<pre>
perl -v
</pre>

You can see the version of Perl.

<pre>
This is perl 5, version 28, subversion 2 (v5.28.2) built for darwin-thread-multi-2level
(with 2 registered patches, see perl -V for more detail)
</pre>

<h3>Installation of Perl on your home directory</h3>

If you want to install the specific version of Perl on your home directory, you can use <b>perlbrew</b> or <b>plenv</b> according to your taste.

<ul>
  <li>
    <a href="/blog/20110220130464.html">perlbrew - Install Perl on your home directory</a>
  </li>
  <li>
    <a href="/blog/20180816153437.html">plenv - Install Perl on your home directory</a>
  </li>
</ul>
