<style>
  h2 {
    counter-increment:count1;
    counter-reset:count2;
  }
  h2:before {
    content:"5." counter(count1) " ";
  }

  h3 {
    counter-increment:count2;
  }
  h3:before {
    content:"5." counter(count1) "." counter(count2) " ";
  }
</style>

<div class="chapter">
<div class="chapter_description">
  <div class="chapter_description_left">
    <img width="65" src="images/chapter_top.png">
  </div>
  <div class="chapter_description_right">
   Let's install Perl on your home directory using perlbrew or plenv.
  </div>
</div>

<h2>perlbrew - Installation of Perl on User Directries</h2>

<a href="https://perlbrew.pl/">perlbrew</a> is a command line tool to intall Perl on user directries. You can install any version of Perl on your user directries and use it.

<h3>Installation of perlbrew</h3>

Execute the following command to install perlbrew.

<pre>
curl -L http://install.perlbrew.pl | bash
</pre>

If you don't have curl command, use wget command or fetch command.

<pre>
# Linux
wget -O - http://install.perlbrew.pl | bash

# FreeBSD
fetch -o- http://install.perlbrew.pl | sh
</pre>

You can also install perlbrew from <a href="/blog/20100504127089.html">CPAN</a>.

<pre>
sudo cpan App::perlbrew
perlbrew init
</pre>

<h4>bash</h4>

Add the perlbrew settings to "~/.bashrc".

<pre>
echo "source ~/perl5/perlbrew/etc/bashrc" >> ~/.bashrc
</pre>

Reload "~/.bashrc".

<pre>
source ~/.bashrc
</pre>

<h4>csh</h4>

Add the perlbrew settings to "~/.cshrc".

<pre>
echo "source ~/perl5/perlbrew/etc/cshrc" >> ~/.cshrc
</pre>

Reload "~/.cshrc".

<pre>
source ~/.cshrc
</pre>

<h3>Installtion of Perl using perlbrew</h3>

You can check the available Perls using <b>available</b> command.

<pre>
# Show the available Perls
perlbrew available
</pre>

Let's install a Perl using <b>install</b> command. The latest Perl version for 2022 is v5.34.1.

<pre>
# Install Perl
perlbrew install perl-5.34.1
</pre>

If the installation of Perl fails, check the following commands are installled. These commands are needed to install Perl.

<ul>
  <li> make </li>
  <li> <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> </li>
  <li> patch </li>
</ul>

Show the list of installed Perls using <b>list</b> command.

<pre>
# Show the list of installed Perls
perlbrew list
</pre>

The installed Perls are displayed.

<pre>
  perl-5.34.1
</pre>

And switch to the installed Perl.

<pre>
perlbrew switch perl-5.34.1
</pre>

And show the installed Perls again. 

<pre>
# Show the installed Perls
perlbrew list
</pre>

"*" is added to the head of the current Perl.

<pre>
* perl-5.34.1
</pre>

And see the Perl version.

<pre>
perl -v
</pre>

The version of current Perl is displayed.

<pre>
This is perl 5, version 34, subversion 1 (v5.34.1) built for x86_64-linux
</pre>

<h3>Installation of cpanm</h3>

<a href="/blog/20101027127859.html">cpanm</a> can be installed using <b>install-cpanm</b> command.

<pre>
perlbrew install-cpanm
</pre>

And install a module.

<pre>
cpanm JSON
</pre>

Modules are installed on the following directory in my case.

<pre>
/home/kimoto/perl5/perlbrew/perls/perl-5.34.1/lib/site_perl/5.34.1/
</pre>

<h3>Returning back to System Perl</h3>

If you want to returning back to system Perl, use <b>off</b> command.

<pre>
perlbrew off
</pre>

<!--

<h3>How to use the version of Perl specified by perlbrew with crontab</h3>

One of the main points of perlbrew is that the version of Perl specified by perlbrew is not used by cron. This is because .bash_profile is not loaded when running from cron because the shell is not started. The setting by perlbrew is described in .bash_profile.

The simplest solution is to rewrite PATH in crontab to the value of the environment variable PATH that the user has.

First, as the user who installed perlbrew, display the value of the PATH environment variable.

<pre>
env | grep PATH
</pre>

You will see some environment variable that include PATH, so look for something called PATH. (This is an example when the user name is admins.)

<pre>
PATH =/home/admins/perl5/perlbrew/bin:/home/admins/perl5/perlbrew/perls/perl-5.16.2/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin:/home/admins/bin
</pre>

Edit crontab with the following command.
<pre>
crontab -e
</pre>

Then write the above PATH value to the top of crontab.

<pre>
PATH =/home/admins/perl5/perlbrew/bin:/home/admins/perl5/perlbrew/perls/perl-5.16.2/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin:/home/admins/bin

# cron settings continue ...
</pre>

Now cron will use the specified version of Perl.

<h4>First line description of Perl script</h4>

Write the first line of the Perl script using the env command as shown below.

<pre>
# !/usr/bin/env perl
</pre>

This will automatically detect perl from the set PATH value.

As you can see, this method solidifies the PATH, so crontab is not portable at all. Since the user name admins is directly embedded and the version number of perl is written as it is, it will not work when changing the version with perlbrew.

But I think this method is the best. The reason is that it is difficult to make it portable because there is a limitation that environment variable cannot be expanded in crontab. Portability increases the amount of description, requires additional scripts, and complicates management.

Also, no matter how hard you try, crontab usually has some differences depending on the environment, so even if you keep portability, there may not be much merit.

-->

<h2>plenv - Installation of Perl on User Directories</h2>

<a href="https://github.com/tokuhirom/plenv">plenv</a> is a command line tool to intall Perl on user directries. You can install any version of Perl on your user directries and use it.

<h3>Installation of plenv</h3>

Execute the following command to install plenv.

<pre>
git clone https://github.com/tokuhirom/plenv.git ~/.plenv
git clone https://github.com/tokuhirom/Perl-Build.git ~/.plenv/plugins/perl-build/
</pre>

Next, let's pass the path of plenv. Add the configuration file for bash provided by plenv to ".bash_profile" (for bash).

Execute the following command.

<pre>
echo 'export PATH="$HOME/.plenv/bin:$PATH"' >> ~/.bash_profile
echo 'eval "$(plenv init -)"' >> ~/.bash_profile
exec $SHELL -l
</pre>

<h3>Installtion of Perl using plenv</h3>

You can check the available Perls using <b>install</b> command and <b>-l</b> option.

<pre>
plenv install -l
</pre>

If plenv is installed successfully, you will see a list of Perls you can install.

<pre>
Available versions: Available versions:
 5.35.10
 5.35.9
 5.35.8
 5.35.7
 5.35.6
 5.35.5
 5.35.4
 5.35.3
 5.35.2
 5.35.1
 5.35.0
 5.34.1
  ...
</pre>

Install Perl in your environment. Let's install Perl of 5.34.1. It will take some time, so wait(about 40 minutes).

<pre>
plenv install 5.34.1
</pre>

If the installation of Perl fails, check the following commands are installled. These commands are needed to install Perl.

<ul>
  <li> make </li>
  <li> <a href="https://en.linux.perlzemi.com/blog/20201216103956.html">gcc</a> </li>
  <li> patch </li>
</ul>

Show the list of installed Perls using <b>versions</b> command.

<pre>
# Show the list of installed Perls
plenv versions
</pre>

When Perl is available

The installed Perls are displayed.

<pre>
* system(set by /home/kimoto/.plenv/version)
  5.34.1
</pre>

And switch to the installed Perl using the <b>global</b> command.

<pre>
plenv global 5.34.1
</pre>

And show the installed Perls again. 

<pre>
# Show the list of installed Perls
plenv versions
</pre>

"*" is added to the head of the current Perl.

<pre>
  system(set by /home/kimoto/.plenv/version)
* 5.34.1
</pre>

And see the Perl version.

<pre>
perl -v
</pre>

The version of current Perl is displayed.

<pre>
This is perl 5, version 34, subversion 1 (v5.34.1)  built for x86_64-linux
</pre>

<h3>Installation of cpanm</h3>

<a href="/blog/20101027127859.html">cpanm</a> can be installed using <b>install-cpanm</b> command.

<pre>
plenv install-cpanm
</pre>

And install a module.

<pre>
cpanm JSON
</pre>

<h3>Returning back to System Perl</h3>

If you want to returning back to system Perl, switch to <b>system</b>.

<pre>
plenv global system
</pre>

<!--

<h3>How to use Perl installed with plenv with crontab</h3>

One of the main points of plenv is that Perl installed with plenv is not used by cron. This is because .bash_profile is not loaded when running from cron because the shell is not started. The setting by plenv is described in .bash_profile.

The simplest solution is to rewrite PATH in crontab to the value of the environment variable PATH that the user has.

First, as the user who installed plenv, display the value of the PATH environment variable.

<pre>
env | grep PATH
</pre>

You will see some environment variable that include PATH, so look for something called PATH. (This is an example when the user name is admins.)

<pre>
PATH =/home/kimoto2/.plenv/shims: /home/kimoto2/.plenv/bin:/home/kimoto2/.plenv/shims:/home/kimoto2/.plenv/bin:/usr/local/bin:/ bin:/usr/bin:/usr/local/sbin: /usr/sbin:/home/kimoto2/.local/bin:/home/kimoto2/bin:/home/kimoto2/.local/bin:/home/kimoto2 /bin:/home/kimoto2/.local/bin:/home/kimoto2/bin
</pre>

Edit crontab with the following command.

<pre>
crontab -e
</pre>

Then write the above PATH value to the top of crontab.

<pre>
PATH =/home/kimoto2/.plenv/shims: /home/kimoto2/.plenv/bin:/home/kimoto2/.plenv/shims:/home/kimoto2/.plenv/bin:/usr/local/bin:/ bin:/usr/bin:/usr/local/sbin: /usr/sbin:/home/kimoto2/.local/bin:/home/kimoto2/bin:/home/kimoto2/.local/bin:/home/kimoto2 /bin:/home/kimoto2/.local/bin:/home/kimoto2/bin

# cron settings continue ...
</pre>

Now cron will use the specified version of Perl.

<h4>First line description of Perl script</h4>

Write the first line of the Perl script using the env command as shown below.

<pre>
# !/usr/bin/env perl
</pre>

This will automatically detect perl from the set PATH value.

As you can see, this method is completely non-portable to crontab. The user name kimoto2 is directly embedded.

But I think this method is the best. The reason is that it is difficult to make it portable because there is a limitation that environment variable cannot be expanded in crontab. Portability increases the amount of description, requires additional scripts, and complicates management.

Also, no matter how hard you try, crontab usually has some differences depending on the environment, so even if you keep portability, there may not be much merit.

-->
