<h2>Installing Perl 2022</h2>

<table>
  <tr><td><a href="top.html">Spread</a></td><td><a href="top.pdf">PDF</a></td></tr>
  <tr><td><a href="beginning.html">Introduction</a></td><td><a href="beginning.pdf">PDF</a></td></tr>
  <tr><td><a href="toc.html">Table of Contents</a></td><td><a href="toc.pdf">PDF</a></td></tr>
  <tr><td><a href="chapter01_title.html">1. Heading</a><br><a href="chapter01.html">1. Installing Perl on Windows</a></td><td><a href="chapter01_title.pdf">PDF</a><br><a href="chapter01.pdf">PDF</a> </td></tr>
  <tr><td><a href="chapter02_title.html">2. Heading</a><br><a href="chapter02.html">2. Installing Perl on Mac</a></td><td><a href="chapter02_title.pdf">PDF</a><br><a href="chapter02.pdf">PDF</a> </td></tr>
  <tr><td><a href="chapter03_title.html">3. Heading</a><br><a href="chapter03.html">3. Installing Perl on Linux/UNIX</a></td><td><a href="chapter03_title.pdf">PDF</a><br><a href="chapter03.pdf">PDF</a> </td></tr>
  <tr><td><a href="chapter04_title.html">4. Heading</a><br><a href="chapter04.html">4. Command Prompt</a></td><td><a href="chapter04_title.pdf">PDF</a><br><a href="chapter04.pdf">PDF</a> </td></tr>
  <tr><td><a href="chapter05_title.html">5. Heading</a><br><a href="chapter05.html">5. perlbrew and plenv</a></td><td><a href="chapter05_title.pdf">PDF</a><br><a href="chapter05.pdf">PDF</a> </td></tr>
  <tr><td><a href="chapter06_title.html">6. Heading</a><br><a href="chapter06.html">6. cpanm</a></td><td><a href="chapter06_title.pdf">PDF</a><br><a href="chapter06.pdf">PDF</a> </td></tr>
  <tr><td></td><td><a href="book.pdf">Whole Book PDF</a></td></tr>
</table>

<h3>Book Information</h3>

ISBNは、Amazonのペーパーバックで発行してもらう。

PerlでポータブルなLinuxファイル管理入門

Perl Club

2022年1月1日発売

書籍 1490円

電子書籍 499円

フルカラー。

A5サイズ「148 mm x 210 mm」

<h3>印刷</h3>

ページ数 120p(Contents 116p + 表紙 4p)

ラクスルは、124ページが最大。表紙の4ページを含んだページ数なので、Contents の最大は、120p。

Amazonのペーパーバックでオンデマンド印刷する。

<h3>wkhtmltopdf</h3>

<h4>wkhtmltopdfのインストール</h4>

インストール手順。wkhtmltopdfのインストールは難しい。

依存ライブラリ。SSLのエラーを回避。

<pre>
sudo apt install -y libxrender1
sudo apt install -y libssl1.0-dev
sudo apt install -y libfontconfig
sudo apt install -y fonts-ipafont
</pre>

wkhtmltopdfのインストール

<pre>
sudo wget https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
sudo tar xvf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
sudo mv wkhtmltox/bin/wkhtmlto* /usr/bin/
sudo ln -nfs /usr/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf
</pre>

確認。

<pre>
/usr/local/bin/wkhtmltopdf --version
</pre>

出力結果

<pre>
wkhtmltopdf 0.12.3 (with patched qt)
</pre>

PDF::API2のインストール

<pre>
cpanm PDF::API2
</pre>

IPAフォントのインストール

<pre>
sudo apt install -y fonts-ipafont
</pre>

<h4>wkhtmltopdfの注意点</h4>

一番上のmargin-topは効かない。

--lowqualityを指定しないと、章見出しがずれるのはなぜ?

目次のページ番号を入れるのは、非常に難しいので、あきらめる。

索引にページ番号を入れるのも非常に難しいので、あきらめる。章番号にする。

background-imageは勝手に枠を入れられてしまう。囲みのborder-radiusもかける。背景画像は使わないほうがよいのか。

display:flexは使えない。widthにculcは使えない。

画像に設定した、ボーダーがうまく表示されない。枠囲みは、画像ソフトでやる必要がある。

ソースコードの横の文字数は、50字と少ししか使えないから工夫する

画像は相対パスで指定する必要がある(2021-07-07追記)。

画像は、グレースレール変換をしたものを使う(2021-07-07追記)。

画像編集はJTrimというツールを使っています(2021-07-07追記)。

<h3>Kindle</h3>

PDFをKindleで販売できるようにするにはKindle Comic Creatorを使う

<a href="https://www.amazon.co.jp/gp/feature.html?ie=UTF8&docId=3077699036">Kindle Comic Creator</a>

本の言語 日本語

Kindleパネルビュー いいえ

表紙を指定。

本の組方向 アンロック

本のページ進行方向 左から右へ

解像度は変更なし。

DRMは、はい。

KF8形式でエクスポート、mobi形式で保存(ファイル名の末尾になぞの「）」が付いているので削除)

Kindleで出版。

<h3>ペーパーバック</h3>

ペーパーバックの表紙計算ツールを使う。

Wordを使って、表紙全体のサイズで作成。

画像を中央寄せする。PDFで保存。

背景色をページ全体につけることはできない。コンテンツがはみ出していると認識される。
