<div class="toc">
<h2>Table of Contents</h2>
<div class="toc_h1">Chapter 1 Installing Perl on Windows</div>
<div class="toc_h2">1.1 Installing Strawberry Perl on Windows</div>
<div class="toc_h3">1.1.1 What is Strawbery Perl?</div>
<div class="toc_h3">1.1.2 Downloading Strawberry Perl</div>
<div class="toc_h3">1.1.3 Installing Strawberry Perl</div>
<div class="toc_h3">1.1.4 Check the Installing Strawberry Perl</div>
<div class="toc_h3">1.1.5 Trouble Shooting</div>
<div class="toc_h3">1.1.6 The other ways to Install Strawberry Perl</div>
<div class="toc_h3">1.1.7 Other Ways to Install Perl on Windows</div>
<div class="toc_h3">1.1.8 Other CLI Tools</div>
<div class="toc_h2">1.2 Installing msys2 and Perl on Windows</div>
<div class="toc_h3">1.2.1 Download of msys2</div>
<div class="toc_h3">1.2.2 Installing msys2</div>
<div class="toc_h3">1.2.3 Execution of msys2</div>
<div class="toc_h3">1.2.4 Instalation of Perl on msys2</div>
<div class="toc_h3">1.2.5 Check of Perl Installation</div>
<div class="toc_h3">1.2.6 Installing CPAN Modules</div>
<div class="toc_h2">1.3 Installing Perl on WSL 2</div>
<div class="toc_h3">1.3.1 Installing WSL 2</div>
<div class="toc_h3">1.3.2 Boot Ubuntu</div>
<div class="toc_h3">1.3.3 Checking the installation of Perl</div>
<div class="toc_h3">1.3.4 Show files using Explore</div>
<div class="toc_h1">Chapter 2 Installing Perl on Mac</div>
<div class="toc_h2">2.1 Installation of Perl on Mac</div>
<div class="toc_h3">2.1.1 Installation of Perl on your home directory</div>
<div class="toc_h1">Chapter 3 Installing Perl on Linux/UNIX</div>
<div class="toc_h2">3.1 Installation of Perl on Linux/Unix</div>
<div class="toc_h3">3.1.1 Installation of System Perl</div>
<div class="toc_h3">3.1.2 Installation of Perl on your home directory</div>
<div class="toc_h1">Chapter 4 Command Prompt</div>
<div class="toc_h2">4.1 Windows Command Prompt Tutorial</div>
<div class="toc_h3">4.1.1 Execution of Command Prompt</div>
<div class="toc_h3">4.1.2 Showing File Extensions</div>
<div class="toc_h3">4.1.3 Execution of Notepad</div>
<div class="toc_h3">4.1.4 Creating Perl Programs</div>
<div class="toc_h3">4.1.5 Runing Perl Programs</div>
<div class="toc_h3">4.1.6 Commands of Command Prompt</div>
<div class="toc_h1">Chapter 5 perlbrew and plenv</div>
<div class="toc_h2">5.1 ファイルの読み書き</div>
<div class="toc_h3">5.1.1 ファイルオープン</div>
<div class="toc_h3">5.1.2 ファイルを読み込みモードで開く</div>
<div class="toc_h3">5.1.3 ファイルの内容を一行ずつ読み込む</div>
<div class="toc_h3">5.1.4 ファイルの内容をすべて読み込む</div>
<div class="toc_h3">5.1.5 ファイルクローズ</div>
<div class="toc_h3">5.1.6 ファイルを書き込みモードで開く</div>
<div class="toc_h3">5.1.7 ファイルに書き込む</div>
<div class="toc_h3">5.1.8 ファイルを追加書き込みモードで開く</div>
<div class="toc_h2">5.2 ファイル名の扱い</div>
<div class="toc_h3">5.2.1 ファイルのベース名を取り出す</div>
<div class="toc_h3">5.2.2 ファイルのディレクトリ名を取り出す</div>
<div class="toc_h3">5.2.3 ファイル名から拡張子を分離する</div>
<div class="toc_h3">5.2.4 プログラムを実行しているディレクトリを取得する</div>
<div class="toc_h3">5.2.5 実行しているプログラムのファイル名を取得する</div>
<div class="toc_h2">5.3 ファイルとディレクトリの作成・削除</div>
<div class="toc_h3">5.3.1 ディレクトリを作成する</div>
<div class="toc_h3">5.3.2 ディレクトリを削除する</div>
<div class="toc_h3">5.3.3 ファイルを削除する</div>
<div class="toc_h3">5.3.4 複数階層のディレクトリを作成する</div>
<div class="toc_h3">5.3.5 複数階層のディレクトリを削除する</div>
<div class="toc_h3">5.3.6 ディレクトリの作成のサンプル</div>
<div class="toc_h3">5.3.7 ディレクトリを削除するサンプル</div>
<div class="toc_h2">5.4 カレントディレクトリの扱い</div>
<div class="toc_h3">5.4.1 カレントディレクトリの取得</div>
<div class="toc_h3">5.4.2 カレントディレクトリの変更</div>
<div class="toc_h2">5.5 ファイルテスト演算子</div>
<div class="toc_h3">5.5.1 -e ファイルが存在するかどうかの確認</div>
<div class="toc_h3">5.5.2 -f 通常ファイルが存在するかどうかの確認</div>
<div class="toc_h3">5.5.3 -d ディレクトリが存在するかどうかの確認</div>
<div class="toc_h3">5.5.4 -s ファイルサイズの取得</div>
<div class="toc_h3">5.5.5 -M 最終更新から経過した日数の取得</div>
<div class="toc_h3">5.5.6 -A 最終アクセスから経過した日数の取得</div>
<div class="toc_h3">5.5.7 ファイルテスト演算子のサンプル</div>
<div class="toc_h2">5.6 パーミッションを変更する</div>
<div class="toc_h2">5.7 ファイル一覧を取得する</div>
<div class="toc_h3">5.7.1 ファイル一覧を取得する</div>
<div class="toc_h3">5.7.2 ファイル一覧を絞り込む</div>
<div class="toc_h3">5.7.3 ファイル一覧を編集する</div>
<div class="toc_h3">5.7.4 再帰的にファイルを処理する</div>
<div class="toc_h2">5.8 ファイル名における日本語の扱い</div>
<div class="toc_h3">5.8.1 Linuxの場合</div>
<div class="toc_h3">5.8.2 UNIXの場合</div>
<div class="toc_h3">5.8.3 Windowsの場合</div>
<div class="toc_h3">5.8.4 Macの場合</div>
<div class="toc_h2">5.9 Linuxフィルタプログラム</div>
<div class="toc_h3">5.9.1 標準入力とコマンドライン引数のファイルを同じように扱う</div>
<div class="toc_h3">5.9.2 perlコマンドなしで実行できるようにする</div>
<div class="toc_h3">5.9.3 コマンドラインオプション</div>
<div class="toc_h3">5.9.4 コマンドオプションを持つフィルタプログラムのサンプル</div>
<div class="toc_h2">5.10 外部プログラムの実行</div>
<div class="toc_h3">5.10.1 system関数</div>
<div class="toc_h3">5.10.2 外部プログラムの標準出力を取得</div>
<div class="toc_h1">Chapter 6 cpanm</div>
</div>
