<div class="toc">
<h2>目次</h2>
<div class="toc_h1">Chapter 1 Installing Perl on Windows</div>
<div class="toc_h2">1.1 Installing Strawberry Perl on Windows</div>
<div class="toc_h3">1.1.1 What is Strawbery Perl?</div>
<div class="toc_h3">1.1.2 Downloading Strawberry Perl</div>
<div class="toc_h3">1.1.3 Installing Strawberry Perl</div>
<div class="toc_h3">1.1.4 Check the Installing Strawberry Perl</div>
<div class="toc_h3">1.1.5 Trouble Shooting</div>
<div class="toc_h3">1.1.6 The other ways to Install Strawberry Perl</div>
<div class="toc_h3">1.1.7 Other Ways to Install Perl on Windows</div>
<div class="toc_h3">1.1.8 Other CLI Tools</div>
<div class="toc_h2">1.2 Installing msys2 and Perl on Windows</div>
<div class="toc_h3">1.2.1 Download of msys2</div>
<div class="toc_h3">1.2.2 Installing msys2</div>
<div class="toc_h3">1.2.3 Execution of msys2</div>
<div class="toc_h3">1.2.4 Instalation of Perl on msys2</div>
<div class="toc_h3">1.2.5 Check of Perl Installation</div>
<div class="toc_h3">1.2.6 Installing CPAN Modules</div>
<div class="toc_h2">1.3 Installing Perl on WSL 2</div>
<div class="toc_h3">1.3.1 Installing WSL 2</div>
<div class="toc_h3">1.3.2 Boot Ubuntu</div>
<div class="toc_h3">1.3.3 Checking the installation of Perl</div>
<div class="toc_h3">1.3.4 Show files using Explore</div>
<div class="toc_h1">Chapter 2 Installing Perl on Mac</div>
<div class="toc_h2">2.1 Perl Basic Syntax</div>
<div class="toc_h3">2.1.1 Syntax Check</div>
<div class="toc_h3">2.1.2 print function</div>
<div class="toc_h3">2.1.3 Comments</div>
<div class="toc_h3">2.1.4 Variable Declarations</div>
<div class="toc_h3">2.1.5 Execution of Perl Programs</div>
<div class="toc_h2">2.2 文字列を出力するコマンド</div>
<div class="toc_h3">2.2.1 echoコマンド - 文字列を出力する</div>
<div class="toc_h2">2.3 カレントディレクトリを表示・変更するコマンド</div>
<div class="toc_h3">2.3.1 カレントディレクトリのパスを表示する - pwdコマンド</div>
<div class="toc_h3">2.3.2 カレントディレクトリを変更する - cdコマンド</div>
<div class="toc_h2">2.4 ファイルやディレクトリを一覧するコマンド</div>
<div class="toc_h3">2.4.1 ファイルの一覧を表示する - lsコマンド</div>
<div class="toc_h3">2.4.2 サブディレクトリを含めたファイル一覧 - findコマンド</div>
<div class="toc_h3">2.4.3 ワイルドカード</div>
<div class="toc_h2">2.5 ファイルやディレクトリを作成・削除するコマンド</div>
<div class="toc_h3">2.5.1 ディレクトリを作成する - mkdirコマンド</div>
<div class="toc_h3">2.5.2 ディレクトリを削除する - rmdirコマンド</div>
<div class="toc_h3">2.5.3 ファイルを作成する - touchコマンド</div>
<div class="toc_h3">2.5.4 ファイルを削除する - rmコマンド</div>
<div class="toc_h2">2.6 ファイルやディレクトリを移動・コピーするコマンド</div>
<div class="toc_h3">2.6.1 ファイルをコピーする - cpコマンド</div>
<div class="toc_h3">2.6.2 ディレクトリをコピーする</div>
<div class="toc_h3">2.6.3 ファイルを移動する - mvコマンド</div>
<div class="toc_h2">2.7 ファイルの内容を出力するコマンド</div>
<div class="toc_h3">2.7.1 ファイルの内容を出力する</div>
<div class="toc_h3">2.7.2 ファイルの先頭の内容を出力する - headコマンド</div>
<div class="toc_h3">2.7.3 ファイルの末尾の内容を出力する - tailコマンド</div>
<div class="toc_h3">2.7.4 ファイルの差分を確認する - diffコマンド</div>
<div class="toc_h2">2.8 ファイルのアーカイブ化と圧縮を行うコマンド</div>
<div class="toc_h3">2.8.1 ファイルのアーカイブ化 - tarコマンド</div>
<div class="toc_h3">2.8.2 ファイルの圧縮 - gzipコマンド</div>
<div class="toc_h3">2.8.3 ファイルの解凍 - gunzipコマンド</div>
<div class="toc_h2">2.9 ファイル内容の検索</div>
<div class="toc_h3">2.9.1 ファイル内容を検索する - grepコマンド</div>
<div class="toc_h2">2.10 ファイル内容の置換</div>
<div class="toc_h3">2.10.1 sedコマンド</div>
<div class="toc_h3">2.10.2 perlコマンド</div>
<div class="toc_h2">2.11 ファイル内容を編集する - テキストエディタ「vi」</div>
<div class="toc_h2">2.12 パーミッションを変更するコマンド</div>
<div class="toc_h3">2.12.1 パーミッションを変更 - chmodコマンド</div>
<div class="toc_h3">2.12.2 所有者ユーザーを変更する - chownコマンド</div>
<div class="toc_h3">2.12.3 所有者グループを変更する - chgrpコマンド</div>
<div class="toc_h2">2.13 シンボリックリンクを作成するコマンド</div>
<div class="toc_h3">2.13.1 シンボリックリンクを作成する - lnコマンド</div>
<div class="toc_h2">2.14 ディスク容量の確認</div>
<div class="toc_h3">2.14.1 ディスク容量を確認する - dfコマンド</div>
<div class="toc_h3">2.14.2 ディレクトリ容量を確認する - duコマンド</div>
<div class="toc_h2">2.15 シェルスクリプトの実行方法</div>
<div class="toc_h3">2.15.1 シェルスクリプトの実行</div>
<div class="toc_h3">2.15.2 シェルスクリプトを実行ファイルとして実行</div>
<div class="toc_h2">2.16 環境変数</div>
<div class="toc_h3">2.16.1 環境変数とは</div>
<div class="toc_h3">2.16.2 環境変数を表示する - envコマンド</div>
<div class="toc_h3">2.16.3 環境変数を設定する</div>
<div class="toc_h1">Chapter 3 Installing Perl on Linux/UNIX</div>
<div class="toc_h2">3.1 rsyncを使ったファイルのバックアップ</div>
<div class="toc_h3">3.1.1 rsyncとは</div>
<div class="toc_h3">3.1.2 ディレクトリのコピー</div>
<div class="toc_h3">3.1.3 sshを使ったリモートサーバーへの接続</div>
<div class="toc_h3">3.1.4 リモートサーバーにディレクトリをコピーする</div>
<div class="toc_h3">3.1.5 公開鍵認証でパスワード入力を不要にする</div>
<div class="toc_h1">Chapter 4 Command Prompt</div>
<div class="toc_h2">4.1 Perlワンライナーとは</div>
<div class="toc_h3">4.1.1 Perlワンライナーでできること</div>
<div class="toc_h2">4.2 標準入出力</div>
<div class="toc_h3">4.2.1 標準出力とは</div>
<div class="toc_h3">4.2.2 標準エラー出力とは</div>
<div class="toc_h3">4.2.3 リダイレクトとは</div>
<div class="toc_h3">4.2.4 標準入力とは</div>
<div class="toc_h2">4.3 パイプ</div>
<div class="toc_h2">4.4 ファイル内容の検索</div>
<div class="toc_h3">4.4.1 findコマンドでファイルの一覧を取得する</div>
<div class="toc_h3">4.4.2 特定の拡張子を持つファイルのみ取得する</div>
<div class="toc_h3">4.4.3 xargsコマンド</div>
<div class="toc_h3">4.4.4 findコマンドの出力結果をgrepコマンドのファイル名として指定する</div>
<div class="toc_h2">4.5 Perlワンライナーで行を処理する</div>
<div class="toc_h3">4.5.1 行処理をするオプション「-n」</div>
<div class="toc_h3">4.5.2 コマンドライン引数に複数のファイルを指定する</div>
<div class="toc_h3">4.5.3 現在読み込んでいるファイル名を取得する</div>
<div class="toc_h3">4.5.4 改行を削除する</div>
<div class="toc_h3">4.5.5 行処理に加えてprint文を実行するオプション「-p」</div>
<div class="toc_h3">4.5.6 正規表現を組み合わせる</div>
<div class="toc_h3">4.5.7 正規表現の置換に文を使用する</div>
<div class="toc_h3">4.5.8 初期化処理を記述する</div>
<div class="toc_h3">4.5.9 すべての行を一度に読み込む</div>
<div class="toc_h3">4.5.10 日本語の扱い</div>
<div class="toc_h3">4.5.11 日本語を適切に扱う</div>
<div class="toc_h2">4.6 Gitを使ってファイルの変更を元に戻す</div>
<div class="toc_h3">4.6.1 Gitとは</div>
<div class="toc_h3">4.6.2 Gitリポジトリの初期化</div>
<div class="toc_h3">4.6.3 メールアドレスと名前の登録</div>
<div class="toc_h3">4.6.4 コミットの準備を行う</div>
<div class="toc_h3">4.6.5 コミットを行う</div>
<div class="toc_h3">4.6.6 置換して間違った場合に変更を元に戻す</div>
<div class="toc_h2">4.7 Perlでファイル内容を置換する</div>
<div class="toc_h3">4.7.1 Perlワンライナーでファイル内容を置換する</div>
<div class="toc_h3">4.7.2 複数ファイルの内容を置換する</div>
<div class="toc_h1">Chapter 5 perlbrew and plenv</div>
<div class="toc_h2">5.1 ファイルの読み書き</div>
<div class="toc_h3">5.1.1 ファイルオープン</div>
<div class="toc_h3">5.1.2 ファイルを読み込みモードで開く</div>
<div class="toc_h3">5.1.3 ファイルの内容を一行ずつ読み込む</div>
<div class="toc_h3">5.1.4 ファイルの内容をすべて読み込む</div>
<div class="toc_h3">5.1.5 ファイルクローズ</div>
<div class="toc_h3">5.1.6 ファイルを書き込みモードで開く</div>
<div class="toc_h3">5.1.7 ファイルに書き込む</div>
<div class="toc_h3">5.1.8 ファイルを追加書き込みモードで開く</div>
<div class="toc_h2">5.2 ファイル名の扱い</div>
<div class="toc_h3">5.2.1 ファイルのベース名を取り出す</div>
<div class="toc_h3">5.2.2 ファイルのディレクトリ名を取り出す</div>
<div class="toc_h3">5.2.3 ファイル名から拡張子を分離する</div>
<div class="toc_h3">5.2.4 プログラムを実行しているディレクトリを取得する</div>
<div class="toc_h3">5.2.5 実行しているプログラムのファイル名を取得する</div>
<div class="toc_h2">5.3 ファイルとディレクトリの作成・削除</div>
<div class="toc_h3">5.3.1 ディレクトリを作成する</div>
<div class="toc_h3">5.3.2 ディレクトリを削除する</div>
<div class="toc_h3">5.3.3 ファイルを削除する</div>
<div class="toc_h3">5.3.4 複数階層のディレクトリを作成する</div>
<div class="toc_h3">5.3.5 複数階層のディレクトリを削除する</div>
<div class="toc_h3">5.3.6 ディレクトリの作成のサンプル</div>
<div class="toc_h3">5.3.7 ディレクトリを削除するサンプル</div>
<div class="toc_h2">5.4 カレントディレクトリの扱い</div>
<div class="toc_h3">5.4.1 カレントディレクトリの取得</div>
<div class="toc_h3">5.4.2 カレントディレクトリの変更</div>
<div class="toc_h2">5.5 ファイルテスト演算子</div>
<div class="toc_h3">5.5.1 -e ファイルが存在するかどうかの確認</div>
<div class="toc_h3">5.5.2 -f 通常ファイルが存在するかどうかの確認</div>
<div class="toc_h3">5.5.3 -d ディレクトリが存在するかどうかの確認</div>
<div class="toc_h3">5.5.4 -s ファイルサイズの取得</div>
<div class="toc_h3">5.5.5 -M 最終更新から経過した日数の取得</div>
<div class="toc_h3">5.5.6 -A 最終アクセスから経過した日数の取得</div>
<div class="toc_h3">5.5.7 ファイルテスト演算子のサンプル</div>
<div class="toc_h2">5.6 パーミッションを変更する</div>
<div class="toc_h2">5.7 ファイル一覧を取得する</div>
<div class="toc_h3">5.7.1 ファイル一覧を取得する</div>
<div class="toc_h3">5.7.2 ファイル一覧を絞り込む</div>
<div class="toc_h3">5.7.3 ファイル一覧を編集する</div>
<div class="toc_h3">5.7.4 再帰的にファイルを処理する</div>
<div class="toc_h2">5.8 ファイル名における日本語の扱い</div>
<div class="toc_h3">5.8.1 Linuxの場合</div>
<div class="toc_h3">5.8.2 UNIXの場合</div>
<div class="toc_h3">5.8.3 Windowsの場合</div>
<div class="toc_h3">5.8.4 Macの場合</div>
<div class="toc_h2">5.9 Linuxフィルタプログラム</div>
<div class="toc_h3">5.9.1 標準入力とコマンドライン引数のファイルを同じように扱う</div>
<div class="toc_h3">5.9.2 perlコマンドなしで実行できるようにする</div>
<div class="toc_h3">5.9.3 コマンドラインオプション</div>
<div class="toc_h3">5.9.4 コマンドオプションを持つフィルタプログラムのサンプル</div>
<div class="toc_h2">5.10 外部プログラムの実行</div>
<div class="toc_h3">5.10.1 system関数</div>
<div class="toc_h3">5.10.2 外部プログラムの標準出力を取得</div>
<div class="toc_h1">Chapter 6 cpanm</div>
</div>
